/* */ 
/* styling */
.whitetext {
    color : #E5E7EB;
}
* {
    padding: 0px;
    margin: 0px;
}

/* */ 
/* intro */

.intro {
    color: white;
    background-color: #1F2937;
    display: flex;
}
.logo {
    
    font-size: 24px;
}
.link {
    font-weight: lighter;
    font-size: 18px;
    white-space: nowrap;
}

/* */

